<section class="filter-section">
    <h2>Filter</h2>
    <div id="tag-buttons">
        <button class="button" data-tag="all">Alle</button>
        <button class="button" data-tag="Front-end">Front-end</button>
        <button class="button" data-tag="Short hair, don't care">Short hair, don't care</button>
        <button class="button" data-tag="Partner van de club">Partner van de club</button>
        <button class="button" data-tag="Is stiekem een designer">Is stiekem een designer</button>
        <button class="button" data-tag="Harry Potter fan">Harry Potter fan</button>
      </div>
</section>