<footer>
    <section class="language-choice">
        <q42></q42>
        <h4>Browse this site in</h4>
        <a href="">Nederlands</a>
        <a href="">English</a>
        <a href="">Haags</a>
    </section>

    <section class="info-footer" id="contact">
        <section>
            <h3>Snel naar</h3>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Werk</a></li>
                <li><a href="">Ventures</a></li>
                <li><a href="">Mensen</a></li>
                <li><a href="">Vacatures</a></li>
                <li><a href="">Nieuwe</a></li>
                <li><a href="">Hoe we werken</a></li>
            </ul>
        </section>

        <section>
            <h3>Ons Werk</h3>
            <ul>
                <li><a href="">AI</a></li>
                <li><a href="">Apps</a></li>
                <li><a href="">Websites</a></li>
                <li><a href="">VR</a></li>
                <li><a href="">Voice</a></li>
                <li><a href="">Games</a></li>
                <li><a href="">Robots</a></li>
                <li><a href="">Connected devices</a></li>
                <li><a href="">Backend-werk</a></li>
            </ul>
        </section>

        <section>
            <h3>Contact</h3>

            <ul>
                <li>Bel ons op <a href="">070 445 2342</a></li>
                <li>of stuur een mailtje naar <a href="">info@q42.nl</a></li>
            </ul>

            <section>
                <h4>Amsterdam Office</h4>
                <address>
                    <ul>
                        <li>Van Diemenstraat 296</li>
                        <li>1013 CR Amsterdam</li>
                        <li><a href="">Bekijk Q020 op Google Maps</a></li>
                    </ul>
                </address>
            </section>

            <section>
                <h4>Den Haag Office</h4>
                <address>
                    <ul>
                        <li>Saturnusstraat 14</li>
                        <li>2516 AH Den Haag</li>
                        <li><a href="">Bekijk Q070 op Google Maps</a></li>
                    </ul>
                </address>
            </section>

            <p>KvK 30164662 te Den Haag</p>
        </section>
    </section>

    <section class="socials-links">
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </section>

    <section class="eidra-info">
        <img src="https://www.q42.nl/img/Eidra_Q42_White.svg" alt="">
        <h3>We are part of Eidra, a consultancy collective helping leaders create great change.</h3>
    </section>
</footer>

</body>
</html>