<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q42</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://storage.googleapis.com/static.q42.nl/q42.js" async></script>
</head>
<body>