<section class="vacatures-info">
    <div>
        <h2>Ook werken bij Q42?</h2>
        <p>Hou jij van mooie web-, app-, IoT- of VR-dingen programmeren? En van de eindgebruiker verbazen? Dan willen wij graag met jou praten! Want wij zijn altijd op zoek naar knappe koppen. Check dus snel onze vacatures!</p>
    </div>
</section>

<section class="vacatures">
    <div>
        <a href="">
            <h3>Stage</h3>
            <p>Internship</p>
            <p>Den Haag en/of Amsterdam</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Open sollicitatie</h3>
            <p>Full-time</p>
            <p>Den Haag en/of Amsterdam</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Front-end developer</h3>
            <p>Full-time</p>
            <p>Amsterdam en/of Den Haag</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Ervaren .NET back-end developer</h3>
            <p>Full-time</p>
            <p>Den Haag en/of Amsterdam</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Android-developer</h3>
            <p>Full-time</p>
            <p>Amsterdam en/of Den Haag</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Ervaren Go developer Hue-platform</h3>
            <p>Full-time</p>
            <p>Den Haag</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Allround back-end developer (senior)</h3>
            <p>Full-time</p>
            <p>Amsterdam en/of Den Haag</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>Techlead / senior software engineer</h3>
            <p>Full-time</p>
            <p>Amsterdam en/of Den Haag</p>
        </a>
    </div>
    
    <div>
        <a href="">
            <h3>AI-engineer</h3>
            <p>Full-time</p>
            <p>Den Haag en/of Amsterdam</p>
        </a>
    </div>
    

</section>

{% comment %} <a href="">bekijk alle vacatures op homerun</a>

<a class="last-button-main" href="">Klets met Q-GPT</a> {% endcomment %}