<nav>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Werk</a></li>
        <li><a href="">Ventures</a></li>
        <li><a href="">Over</a></li>
        <li><a href="/">Mensen</a></li>
        <li><a href="">Nieuw</a></li>
    </ul>
</nav>